<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>SportsKart-About</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/34119cb70f.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/34119cb70f.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8dd67f831c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

</head>
<body>
<div class="header">
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="home/" class="sk" style="color:lightcoral;">Sports</a>
			<a href="home/" class="sk" style="color:indigo;">Kart</a>
        </div>
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/about">About</a></li>
			<li><a href="/cart"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"><span>0</span></a></li>
            </ul>
        </nav>
		
    </div>
</div>
</div> 

<div>
<h2 class="title">About</h2><br>
<p style="margin-left:20px;margin-right:20px">
SportsKart is an online shopping system that permits a customer to submit online orders for items and/or services from a store that serves both walk-in-customers and online customers who are interested in Sports and Fitness Freaks. Online Sports & Fitness Shopping project.This project covers the basic functionality of an e-commerce website. It is a dedicated e-commerce web application related to sports & Fitness where we get to explore more products, customers can submit online orders for items and services from top brands & stores which serves both walk-in-customers and online customers.
The main idea of this project is to provide a reference number to the customers at the time of order placement along with the acknowledgement which will be referred by the delivery person at the time of Delivery. where the Delivery person must receive the reference code from the customers directly at the time of delivery to complete the Product Delivery.
</p>
<h2 class="title">Contact</h2><br>
<p style="margin-left:620px"><b>Phone Number</b> : +91 9876543210</p>
<p style="margin-left:620px"><b>Email</b> : sportskart07@gmail.com</p>
<h2 class="title">Location</h2><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15609.739034087062!2d79.8489946!3d12.0135619!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5c0d300c8187a76b!2sPondicherry%20Engineering%20College!5e0!3m2!1sen!2sin!4v1627715967952!5m2!1sen!2sin" width="600" height="450" style="border:0; margin-left:460px;" allowfullscreen="" loading="lazy"></iframe>
</div><br>

<script type="text/javascript" src="{% static 'js/asd.js' %}"> </script>
<!-----Footer------>
<div class="footer">
	<div class="container">
	<center><h2>Contact Us</h2></center>
    <div class="icons">
    <center><i class="fa fa-facebook-official"></i><i class="fa fa-instagram"></i></center><hr>
	<p class="copyright">© 2021 . All rights reserved. In compliance with Drugs and Cosmetics Act, 1940 and Drugs and Cosmetics Rules, 1945, we don't process requests for Schedule X and other habit forming drugs.
			 </p>
    </div>
</div>
</div>
</body>
</html>